@import 'tailwindcss';

html,
body,
#root {
	height: 100%;
}

html {
	color-scheme: light;
}

html[data-theme="dark"] {
	color-scheme: dark;
}

body {
	background-color: Canvas;
	color: CanvasText;
}
